<h3>Name: </h3>
<%= @user.name %><br>
<h3>Tickets: </h3>
<%= @user.tickets %><br>
<h3>Mood: </h3>
<%= @user.mood %><br>
<h3>Height: </h3>
<%= @user.height %><br>
<%= link_to "See Attractions", attractions_path %>
